doctype html
head
  title  
  // [if !mso] <!
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  // <![endif]
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style(type='text/css').
    #outlook a {
    padding: 0;
    }
    body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    }
    table,
    td {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    }
    img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    }
    p {
    display: block;
    margin: 13px 0;
    }
  //if mso
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  //if lte mso 11
    style(type='text/css').
      .mj-outlook-group-fix { width:100% !important; }
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css2?family=Inter' rel='stylesheet' type='text/css')
  style(type='text/css').
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
    @import url(https://fonts.googleapis.com/css2?family=Inter);
  // <![endif]
  style(type='text/css').
    @media only screen and (min-width:480px) {
    .mj-column-per-100 {
    width: 100% !important;
    max-width: 100%;
    }
    .mj-column-per-50 {
    width: 50% !important;
    max-width: 50%;
    }
    }
  style(type='text/css').
    @media only screen and (max-width:480px) {
    table.mj-full-width-mobile {
    width: 100% !important;
    }
    td.mj-full-width-mobile {
    width: auto !important;
    }
    }
  style(type='text/css').
    @media (max-width:480px) {
    .hour-label {
    padding-bottom:
    }
    }
    .bold-text {
    font-weight: bold !important;
    }
    .card-shadow {
    -webkit-box-shadow: 0px 4px 10px rgba(83, 83, 83, 0.07);
    -moz-box-shadow: 0px 4px 10px rgba(83, 83, 83, 0.07);
    box-shadow: 0px 4px 10px rgba(83, 83, 83, 0.07);
    }
    .bottom-shadow {
    -webkit-box-shadow: 0 4px 2px -2px rgba(83, 83, 83, 0.07);
    -moz-box-shadow: 0 4px 2px -2px rgba(83, 83, 83, 0.07);
    box-shadow: 0 4px 2px -2px rgba(83, 83, 83, 0.07);
    }
div(style='background-color:#F7FAFC;')
  //if mso | IE
    table(align='center' border='0' cellpadding='0' cellspacing='0' style='width:600px;' width='600')
      tr
        td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
  div(style='margin:0px auto;max-width:600px;')
    table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:0px;padding-top:20px;text-align:center;')
            //if mso | IE
              table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                tr
  //if mso | IE
    table.card-shadow-outlook(align='center' border='0' cellpadding='0' cellspacing='0' style='width:600px;' width='600')
      tr
        td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
  .card-shadow(style='background:#FFFFFF;background-color:#FFFFFF;margin:0px auto;max-width:600px;')
    table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#FFFFFF;background-color:#FFFFFF;width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:0px;padding-bottom:40px;padding-top:30px;text-align:center;')
            //if mso | IE
              table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                tr
                  td(style='vertical-align:top;width:600px;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                tbody
                  tr
                    td(style='vertical-align:top;padding:0px;')
                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='' width='100%')
                        tr
                          td(align='center' style='font-size:0px;padding:30px 0px 30px 0;word-break:break-word;')
                            table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:collapse;border-spacing:0px;')
                              tbody
                                tr
                                  td(style='width:205px;')
                                    img(alt='Headcount logo' height='auto' src='http://dootln0iilcx.cloudfront.net/headcount_logo.png' style='border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;' width='205')
                        tr
                          td(align='center' style='font-size:0px;padding:10px 16px 10px 15px;word-break:break-word;')
                            table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:collapse;border-spacing:0px;')
                              tbody
                                tr
                                  td(style='width:393px;')
                                    img(alt='Headcount logo' height='auto' src='http://dootln0iilcx.cloudfront.net/upcoming_payroll.png' style='border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;' width='393')
                        tr
                          td(align='left' style='font-size:0px;padding:0px 55px;word-break:break-word;')
                            div(style='font-family:Inter, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;font-size:16px;line-height:1.6;text-align:left;color:#4A5568;')
                              p Hi #{firstName},
                              p
                                | We were unable to process the following payroll due to insufficient funds in your linked bank account. Please transfer sufficient funds or update your payment method before your payroll deadline, 
                                strong #{ endDate }
                                | .
                        tr
                          td(style='font-size:0px;padding:25px 30px;word-break:break-word;')
                            //if mso | IE
                              table(align='center' border='0' cellpadding='0' cellspacing='0' style='width:600px;' width='600')
                                tr
                                  td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
                            div(style='margin:0px auto;max-width:600px;')
                              table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
                                tbody
                                  tr
                                    td(style='direction:ltr;font-size:0px;padding:25px 30px;text-align:center;')
                                      //if mso | IE
                                        table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                          tr
                                            td(style='vertical-align:top;width:270px;')
                                      .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                                          tbody
                                            tr
                                              td(style='vertical-align:top;padding:0px;')
                                                table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='' width='100%')
                                                  tr
                                                    td(align='left' style='font-size:0px;padding:0px;word-break:break-word;')
                                                      div(style='font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;')
                                                        h2(style='font-weight: 500;\
                                                        font-size: 12px;\
                                                        line-height: 150%;') Pay period
                                                        p(style='display: flex; align-items: center;font-size: 16px;\
                                                        line-height: 150%;')
                                                          img(src='https://assets.useheadcount.com/calendar_icon.svg' style='margin-right: 6px')
                                                          strong #{payPeriod}
                                      //if mso | IE
                                        td(style='vertical-align:top;width:270px;')
                                      .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                                          tbody
                                            tr
                                              td(style='vertical-align:top;padding:0px;')
                                                table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='' width='100%')
                                                  tr
                                                    td(align='left' style='font-size:0px;padding:0px;word-break:break-word;')
                                                      div(style='font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;')
                                                        h2(style='font-weight: 500;\
                                                        font-size: 12px;\
                                                        line-height: 150%;') Payroll schedule
                                                        p(style='font-size: 16px;\
                                                        line-height: 150%;')
                                                          strong #{payrollSchedule}
                                      //if mso | IE
                            //if mso | IE
                        tr
                          td(align='center' vertical-align='middle' style='font-size:0px;padding:0px;padding-bottom:20px;word-break:break-word;')
                            table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:separate;width:327px;line-height:100%;')
                              tr
                                td(align='center' bgcolor='#2CD5C4' role='presentation' style='border:none;border-radius:3px;cursor:auto;height:58px;mso-padding-alt:10px 25px;background:#2CD5C4;' valign='middle')
                                  a(href='#{viewBankInformationLink}' style='display: inline-block; width: 277px; background: #2CD5C4; color: white; font-family: Inter, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 120%; margin: 0; text-decoration: none; text-transform: none; padding: 10px 25px; mso-padding-alt: 0px; border-radius: 3px;' target='_blank')
                                    | View Banking Information
            //if mso | IE
  //if mso | IE
    table(align='center' border='0' cellpadding='0' cellspacing='0' style='width:600px;' width='600')
      tr
        td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
  div(style='margin:0px auto;max-width:600px;')
    table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:0px;text-align:center;')
            //if mso | IE
              table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                tr
                  td(style='width:600px;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;')
              //if mso | IE
                table(border='0' cellpadding='0' cellspacing='0' role='presentation')
                  tr
                    td(style='vertical-align:top;width:300px;')
              .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;')
                table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                  tbody
                    tr
                      td(style='border-bottom:solid 8px #00B0B9;vertical-align:top;padding:0px;')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='' width='100%')  
              //if mso | IE
              // right paragraph
              //if mso | IE
                td(style='vertical-align:top;width:300px;')
              .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;')
                table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                  tbody
                    tr
                      td(style='border-bottom:solid 8px #5BC2E7;vertical-align:top;padding:0px;')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='' width='100%')  
              //if mso | IE
            //if mso | IE
  //if mso | IE
    table(align='center' border='0' cellpadding='0' cellspacing='0' style='width:600px;' width='600')
      tr
        td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
  div(style='margin:0px auto;max-width:600px;')
    table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:0px;text-align:center;')
            //if mso | IE
              table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                tr
                  td(style='vertical-align:top;width:600px;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                tbody
                  tr
                    td(style='vertical-align:top;padding:30px 0 0 0;')
                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='' width='100%')
                        tr
                          td(align='center' style='font-size:0px;padding:0px;padding-bottom:7px;word-break:break-word;')
                            div(style='font-family:Inter, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;font-size:14px;line-height:1;text-align:center;color:#A0AEC0;') Headcount, Inc.
                        tr
                          td(align='center' style='font-size:0px;padding:0px;padding-bottom:15px;word-break:break-word;')
                            div(style='font-family:Inter, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;font-size:14px;line-height:1;text-align:center;color:#A0AEC0;') 2400 N 2nd Street, Minneapolis, MN 55414
                        tr
                          td(align='center' style='font-size:0px;padding:0px;padding-bottom:10px;word-break:break-word;')
                            div(style='font-family:Inter, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;font-size:14px;line-height:1;text-align:center;color:#A0AEC0;') #{unsubscribeLink} from Headcount emails
            //if mso | IE
  //if mso | IE
y